.col-md-9 h1
{
	text-align: center;
}

.col-md-9 img
{
	display: block;
	text-align: center;
}

.navbar-nav .nav-item:not(:first-child)
{
	display: none;
}

blockquote
{
	font-style: italic;
	margin: 16px 0;
	padding: 0 15px;
	color: #5c5c5c;
	background-color: #f0f0f0;
	border-left: 4px solid #d6d6d6;
}
